$logos: (
    'css3',
    'firebase',
    'html5',
    'javascript',
    'react',
    'redux',
    'sass',
    'styledcomponents',
    'typescript'
);

.stack-list-item {
    position: relative;
    width: 6rem;
    height: 6rem;
    border-radius: 1rem;
    background: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    .logos {
        text-indent: -9999px;
        display: block;
        width: 100%;
        height: 100%;
        border-radius: 1rem;
        position: absolute;
        top: 0;
        left: 0;
        
        @each $logo in $logos {
            &##{$logo} {
                background: url(../Assets/Images/#{$logo}_logo.png);
                background-size: 80%;
                background-repeat: no-repeat;
                background-position: center;
            }
        }
        &#css3 {
            background-size: 55%;
        }
    }
    .hovers {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        z-index: 1;
        text-align: center;
        background: #6592fd;
        border-radius: 1rem;
        opacity: 0;
        transition: 0.4s;
        &:hover {
            opacity: 0.8;
        }
    }
}